{% extends "frontend/base.html.twig" %}

{% block hero %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    {% include 'home/index/hero.twig' %}
  </section>
  <!-- End Hero -->
{% endblock %}

{% block body %}
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        {% include 'home/index/clients.twig' %}
    </section>
    <!-- End Clients Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        {% include 'home/index/testimonials.twig' %}
    </section>
    <!-- End Testimonials Section -->
    
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      {% include 'home/index/about.twig' %}
    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    {# <section id="values" class="values">
      {% include 'home/index/values.twig' %}
    </section> #}
    <!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
    {# <section id="counts" class="counts">
        {% include 'home/index/counts.twig' %}
    </section> #}
    <!-- End Counts Section -->

    <!-- ======= Business Challenges Section ======= -->
    <section id="business-challenges" class="features pb-0">
        {% include 'home/index/business_challenges.twig' %}
    </section><!-- End Business Challenges Section -->

    <!-- ======= Our Solution Section ======= -->
    <section id="our-solution" class="features">
        {% include 'home/index/our_solution.twig' %}
    </section>
    <!-- End Our Solutions Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        {% include 'home/index/features.twig' %}
    </section><!-- End Features Section -->

    <!-- ======= Use Tumeny Section ======= -->
    <section id="use-tumeny-today" class="services">
        {% include 'home/index/use_tumeny_today.twig' %}
    </section>
    <!-- End Use Tumeny Section Section -->

    <!-- ======= Services Section ======= -->
    {#<section id="services" class="services">#}
    {#    {% include 'home/index/services.twig' %}#}
    {#</section>#}
    <!-- End Services Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      {% include 'home/index/pricing.twig' %}
    </section>
    <!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        {% include 'home/index/faqs.twig' %}
    </section>
    <!-- End F.A.Q Section -->

    <!-- ======= Portfolio Section ======= -->
    {# <section id="portfolio" class="portfolio">
        {% include 'home/index/portfolio.twig' %}
    </section> #}
    <!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    {# <section id="team" class="team">
        {% include 'index/team.html.twig' %}
    </section> #}
    <!-- End Team Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    {# <section id="recent-blog-posts" class="recent-blog-posts">
      {% include 'index/recent_posts.twig' %}
    </section> #}
    <!-- End Recent Blog Posts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      {{ include('home/index/contact.twig') }} 
    </section><!-- End Contact Section -->
{% endblock %}