{% extends "home/base.html.twig" %}

{% block body %}

  <main id="main">
    <!-- ======= Pricing Section ======= -->
    {# <section id="pricing" class="pricing">
        
    </section> #}
    <!-- End Pricing Section -->
    <div class="container pt-5 mt-5" data-aos="fade-up">
        <header class="section-header">
            <h2>Pricing</h2>
            <p>Check our Pricing</p>
            <div class="text-center">Get 1 month free where you pay for 6 months or 2 months free when you pay for 1 year upfront.</div>
        </header>
        {# <header class="section-header pb-3" >
            <h2>Pricing List</h2>
            <p>Tumeny Bookkeeping Pricing List</p>
        </header> #}
        {# <p class="text-xs text-center">Tumeny Bookkeeping is affordable at any stage of your business. Get 1 month free.</p> #}
        <div class="row license-compare py-4 my-4">
            <div class="col-xl-4 d-none d-xl-block features-list">
                <ul>
                    <li>
                        <span class="d-block feature-title">User Access</span>
                        {# <span class="d-block d-xl-none feature-title">User Access</span> #}
                    </li>
                    <li>
                        <span class="d-block feature-title">Number of Users</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Record Sales and Expenses</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Send Receipts (per month)</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">View Paid & Unpaid Transactions</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Track what you're owed or owe</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Send & Receive Payment Reminders</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Performance Dashboard</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Download Data / Reports</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Business Analytics & Insights</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Manage Employee Expenses</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Upload Transaction History</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Manage Inventory</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Customer Service Rep</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Business Coach</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Dedicated Account Manager</span>
                    </li>
                </ul>
            </div>

            <div class="col-xl-8 licenses">
                <div class="row gx-1">
                    {# Free #}
                    <div class="col-lg-3 free">
                        <div class="title">
                            <h3>Free</h3>
                        </div>
                        <div class="price">
                            <h3> <sup>ZMW</sup> 0</h3> 
                            <span class="text-xs">Free</span>
                        </div>
                        <div class="features">
                            <ul>
                                <li>Phone<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>1<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Create websites for clients</s></span>
                                </li>
                                <li>10<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Premium support via Email</s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Sass/SCSS Files</s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Access to all our <strong>84</strong> pro templates</s></span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>Chat<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                            </ul>
                                
                        </div>
                                
                        {# <div class="action"> 
                            <i class="bi bi-download"></i>  Download
                        </div> #}
                        <div class="d-grid gap-2 mt-3"> 
                            <a href="" class="btn btn-success btn-block buy">
                                {# <i class="bi bi-download"></i> #}
                                <span>Sign Up Free</span>
                            </a>
                        </div>
                    </div>

                    {# Starter #}
                    <div class="col-lg-3 mt-5 mt-lg-0 pro">
                        <div class="title">
                            <h3>Starter</h3>
                        </div>
                        <div class="price">
                            <div class="d-flex justify-content-center align-items-center">
                                <h3> <sup>ZMW</sup> 20</h3>
                            </div> 
                            <span class="text-xs">One time payment</span>
                        </div>
                        <div class="features">
                            <ul>
                                <li>Phone<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>1<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Create websites for clients</s></span>
                                </li>
                                <li>25<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Premium support via Email</s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Sass/SCSS Files</s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Access to all our <strong>84</strong> pro templates</s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>Chat or Call<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>Chat<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                            </ul>
                        </div>
                                
                        {# <div class="action"> 
                            <i class="bi bi-download"></i>  Download
                        </div> #}
                        <div class="d-grid gap-2 mt-3"> 
                            <a href="" class="btn btn-success btn-block buy">
                                {# <i class="bi bi-download"></i> #}
                                <span>Buy Now</span>
                            </a>
                        </div>
                    </div>

                    {# Growth #}
                    <div class="col-lg-3 mt-5 mt-lg-0 pro">
                        <div class="title">
                            <h3>Growth</h3>
                        </div>
                        <div class="price">
                            <div class="d-flex justify-content-center align-items-center">
                                <h3> <sup>ZMW</sup> 80</h3>
                            </div> 
                            <span class="text-xs">One time payment</span>
                        </div>
                        <div class="features">
                            <ul>
                                <li>Phone & Computer<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>3<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Create websites for clients</s></span>
                                </li>
                                <li>Unlimited<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Premium support via Email</s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Sass/SCSS Files</s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Access to all our <strong>84</strong> pro templates</s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>Chat or Call<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>Chat or Call<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                            </ul>
                        </div>
                                
                        {# <div class="action"> 
                            <i class="bi bi-download"></i>  Download
                        </div> #}
                        <div class="d-grid gap-2 mt-3"> 
                            <a href="" class="btn btn-success buy">
                                {# <i class="bi bi-download"></i> #}
                                <span>Buy Now</span>
                            </a>
                        </div>
                    </div>

                    {# Business #}
                    <div class="col-lg-3 mt-5 mt-lg-0 membership">
                        <div class="title">
                            <h3>Business</h3>
                        </div>
                            
                        <div class="price">
                            <div class="d-flex justify-content-center align-items-center">
                                <h3> <sup>ZMW</sup> 160</h3>
                            </div> 
                            <span class="text-xs">For 3 months access</span>
                        </div>
                        
                        <div class="features">
                            <ul>
                                <li>Phone & Computer<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>10<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Create websites for clients</s></span>
                                </li>
                                <li>Unlimited<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Premium support via Email</s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Sass/SCSS Files</s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Access to all our <strong>84</strong> pro templates</s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                <li>Chat or Call<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>Chat<span class="d-block d-xl-none feature-title">Number of websites/domains</span></li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title"><s>Working <a href="https://bootstrapmade.com/php-email-form/"><strong>PHP/AJAX contact form</strong></a></s></span>
                                </li>
                                </ul>
                                
                            </div>
                            <div class="d-grid gap-2 mt-3"> 
                                <a href="" class="btn btn-success buy">
                                    {# <i class="bi bi-download"></i> #}
                                    <span>Buy Now</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

  </main><!-- End #main -->
{% endblock %}