<!DOCTYPE html>
<html lang="en">
    <head>
        <title>How To Create Bootstrap 5 Table For Compare Packages</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" />

        <style>
        <!-- Custom CSS -->
.compare-packages table thead th {
    border-bottom: 2px solid #dee2e6;
    vertical-align: middle;
    font-size: 20px;
    color: #ff9800;
}
.compare-packages table thead th p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.compare-packages table td {
    text-align: center;
}
.compare-packages table td:first-child {
    text-align: left;
}
.compare-packages table tr:last-child td {
    font-weight: bold;
    line-height: 40px;
    font-size: 20px;
}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 mt-5">
                    <h3 class="bg-light p-2 mb-3">Compare Packages</h3>
                    <div class="table-responsive compare-packages">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="240px">Plans</th>
                                    <th>Basic <p>Convert unique PSD/Sketch Homepage design to Responsive Bootstrap HTML/CSS with 3 rounds of revision</p>
                                    </th>
                                    <th>Standard <p>Home + 1 inner page PSD/Sketch design to Responsive Bootstrap HTML/CSS with 3 rounds of revisions</p>
                                    </th>
                                    <th>Premium <p>Home + 3 inner pages PSD/Sketch design to Responsive Bootstrap HTML/CSS with 3 rounds of revisions</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Number of Pages</td>
                                    <td>3</td>
                                    <td>6</td>
                                    <td>10</td>
                                </tr>

                                <tr>
                                    <td>Design Customization</td>
                                    <td>No</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                </tr>

                                <tr>
                                    <td>Content Upload</td>
                                    <td>No</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                </tr>

                                <tr>
                                    <td>Responsive Design</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                </tr>

                                <tr>
                                    <td>Plugins/Extensions Installation</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>6</td>
                                </tr>

                                <tr>
                                    <td>E-Commerce Functionality</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>Yes</td>
                                </tr>

                                <tr>
                                    <td>Number of Products</td>
                                    <td>4</td>
                                    <td>6</td>
                                    <td>9</td>
                                </tr>

                                <tr>
                                    <td>Revisions</td>
                                    <td>Unlimited</td>
                                    <td>Unlimited</td>
                                    <td>Unlimited</td>
                                </tr>

                                <tr>
                                    <td>Delivery Days</td>
                                    <td>7 Days</td>
                                    <td>9 Days</td>
                                    <td>12 Days</td>
                                </tr>

                                <tr>
                                    <td>Total Prices</td>
                                    <td>$50<br />
                                        <button class="btn btn-warning">Continue</button>
                                    </td>
                                    <td>$75<br />
                                        <button class="btn btn-warning">Continue</button>
                                    </td>
                                    <td>$99<br />
                                        <button class="btn btn-warning">Continue</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
    </body>
</html>