<div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>Our Clients & Partners</h2>
      <p>Join the hundreds of businesses using Tumeny today!</p>
    </header>

    <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
            {#<div class="swiper-slide"><img src="/frontend/img/clients/savanna_packaging.png" class="img-fluid" alt=""></div>#}
            <div class="swiper-slide"><img src="/frontend/img/clients/savanna_logo.png" class="img-fluid" alt=""></div>
             <div class="swiper-slide"><img src="/frontend/img/clients/vanimi_zambia_logo.jpg" class="img-fluid" alt=""></div>
            {# <div class="swiper-slide"><img src="/frontend/img/clients/kanaitech_logo.png" class="img-fluid" alt=""></div> #}
            <div class="swiper-slide"><img src="/frontend/img/clients/she_entrepreneur.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/frontend/img/clients/ch.png" class="img-fluid" alt=""></div>
            {# <div class="swiper-slide"><img src="/frontend/img/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/frontend/img/clients/client-7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/frontend/img/clients/client-8.png" class="img-fluid" alt=""></div> #}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>