
<div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>F.A.Q</h2>
      <p>Frequently Asked Questions</p>
    </header>

    <div class="row">
        <div class="col-lg-6">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    What is Tumeny Bookkeeping?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Tumeny Bookkeeping enables you to record all your sales and expenses digitally. You can see how your business is performing on a daily, weekly or monthly basis as well as create and send out invoices in seconds. We simplify record keeping and invoicing so you can focus on running a profitable business!
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    Where do I find the demo videos for using the platform?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    You can watch our short “How to” videos on our YouTube channel. Please use this link to see the demo videos: 
                    <a href="https://youtube.com/channel/UCQP3j8WJtW-JcGWd5VbUjeQ">https://youtube.com/channel/UCQP3j8WJtW-JcGWd5VbUjeQ</a>
                  </div>
                </div>
              </div>

              {#<div class="accordion-item">#}
              {#  <h2 class="accordion-header">#}
              {#    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">#}
              {#      What business challenges is Tumeny Solving?#}
              {#    </button>#}
              {#  </h2>#}
              {#  <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">#}
              {#      <div class="accordion-body">#}
              {#          When it comes to book keeping, Tumeny Payments solves:#}
              {#          <ul>#}
              {#              <li>Lack of visibility into overall business performance.</li>#}
              {#              <li>Lack of time for small business to sort through their sales and expenses.</li>#}
              {#              <li>Lack of resources to record, report and analyze their business performance.</li>#}
              {#          </ul>#}
              {#      </div>#}
              {#  </div>#}
              {#</div>#}

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    How can I sign-up and start using Tumeny Bookkeeping today?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                    <div class="accordion-body">
                        You can create your Tumeny Bookkeeping account by signing-up using the link below. This is also the same link you will need to login to the platform: <a href="https://tumeny.herokuapp.com/login">https://tumeny.herokuapp.com/login</a>
                    </div>
                </div>
              </div>

              {#<div class="accordion-item">#}
              {#  <h2 class="accordion-header">#}
              {#    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">#}
              {#      What features does the Tumeny app have?#}
              {#    </button>#}
              {#  </h2>#}
              {#  <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist1">#}
              {#    <div class="accordion-body">#}
              {#      Our features include: Collect payments with ease, Record any transactions quickly and View your daily, weekly & monthly performance.#}
              {#    </div>#}
              {#  </div>#}
              {#</div>#}

            </div>
        </div>

        <div class="col-lg-6">
            <!-- F.A.Q List 2-->
            <div class="accordion accordion-flush" id="faqlist2">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                        Do I need to download the Tumeny App?
                      </button>
                    </h2>
                    <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                      <div class="accordion-body">
                        The platform is currently a website and you can login any time using the link below. We plan to change it into an app in the near-future. (Login page: <a href="https://tumeny.herokuapp.com/login">https://tumeny.herokuapp.com/login</a>)
                      </div>
                    </div>
                </div>

              {#<div class="accordion-item">#}
              {#  <h2 class="accordion-header">#}
              {#    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">#}
              {#      What will you gain by using Tumeny digital record keeping?#}
              {#    </button>#}
              {#  </h2>#}
              {#  <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist2">#}
              {#    <div class="accordion-body">#}
              {#          You will:#}
              {#          <ul>#}
              {#              <li>Stay on top of what your business is earning and spending and be in control.</li>#}
              {#              <li>Understand the overall health of your business on a daily, weekly or monthly basis.</li>#}
              {#              <li>Understand how your various products are performing.</li>#}
              {#              <li>Make better day-to-day cashflow decisions quickly and with confidence.</li>#}
              {#              <li>Access all your products, customer and supplier information in one place.</li>#}
              {#              <li>Create invoices and track payments from customers with ease.</li>#}
              {#          </ul>#}
              {#    </div>#}
              {#  </div>#}
              {#</div>#}

                {#<div class="accordion-item">#}
                {#    <h2 class="accordion-header">#}
                {#        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">#}
                {#            What are the benefits of using Tumeny?#}
                {#        </button>#}
                {#    </h2>#}
                {#    <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">#}
                {#        <div class="accordion-body">#}
                {#          Merchants can easily accept payments from any provider, mobile money, bank etc. and see real time payments. Customers can pay with mobile money and do not need to open a separate account to make the payment. Merchants can send payment links to be paid faster via Whatsapp, Social Media or SMS. Merchants can collect recurring payments (e.g. subscriptions) with ease by sending reminders to their customers with the payment request. Tumeny portal enables merchants to view payments made in real time and view all payments received over time. Tumeny portal makes it easy for financia reporting at the end oof the month as well as for analyzing how the business is performing and faciliate data-based decision making.#}
                {#        </div>#}
                {#    </div>#}
                {#</div>#}

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                          What happens if there is no network?
                        </button>
                    </h2>
                    <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                        <div class="accordion-body">
                          The platform currently works when your internet network is on. We are working on making it possible to work offline in the future.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                          Can I share feedback to improve the platform?
                        </button>
                    </h2>
                    <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                        <div class="accordion-body">
                          Yes please! We welcome your feedback. We would like to continuously improve the platform and make it a pleasant experience for you. Please share any suggestions you have on how we can improve your experience.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>