
<div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>F.A.Q</h2>
      <p>Frequently Asked Questions</p>
    </header>

    <div class="row">
        <div class="col-lg-6">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    What is Tumeny Payments?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Tumeny is an app that helps you track your sales and expenses so you can see how you are performing each day, weekly or monthly. You can also send invoices to your customers. Businesses can collect payments from customers or make payments to their suppliers etc, using any mobile money provider or wallet, credit/debit card or bank transfer.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    Why choose Tumeny Payments?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    With the Tumeny app, you as a business owner can record all sales transactions from your customer. You can also record all the costs you incur when running your buiness e.g. raw materials, rent etc. As a business owner login into our portal and view which customers have paid and those that have not.
                    Our product also helps business owners understand how their business is operating each day, weekly or yearly.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    What features does the Tumeny app have?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Our features include: Collect payments with ease, Record any transactions quickly and View your daily, weekly & monthly performance.
                  </div>
                </div>
              </div>

            </div>
        </div>

        <div class="col-lg-6">
            <!-- F.A.Q List 2-->
            <div class="accordion accordion-flush" id="faqlist2">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                            What are the benefits of using Tumeny?
                        </button>
                    </h2>
                    <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                        <div class="accordion-body">
                          Merchants can easily accept payments from any provider, mobile money, bank etc. and see real time payments. Customers can pay with mobile money and do not need to open a separate account to make the payment. Merchants can send payment links to be paid faster via Whatsapp, Social Media or SMS. Merchants can collect recurring payments (e.g. subscriptions) with ease by sending reminders to their customers with the payment request. Tumeny portal enables merchants to view payments made in real time and view all payments received over time. Tumeny portal makes it easy for financia reporting at the end oof the month as well as for analyzing how the business is performing and faciliate data-based decision making.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                          How can sign up on Tumeny?
                        </button>
                    </h2>
                    <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                        <div class="accordion-body">
                          Visit tumenypay.com and click on the register link. On the register page, fill in all the required fields and click the register button. Then wait for your account to be verified by our staff members.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                          Who are our target market?
                        </button>
                    </h2>
                    <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                        <div class="accordion-body">
                          Small and medium-sized enterprises (SMEs), Schools, Landlords, Government and NGOs.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>