<div class="container" data-aos="fade-up">

    <header class="section-header mt-5"  id="our-solution">
        {# <h2>Our Solution</h2> #}
        <p>Managing your sales and expenses does not need be:</p>
    </header>

    <!-- Feature Icons -->
    <div class="row feature-icons my-5" data-aos="fade-up">
        <div class="container">
        <div class="row">

            {# <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
                <img src="/frontend/img/biz_problem.png" class="img-fluid rounded mb-4" alt="">
            </div> #}

            <div class="col-xl-12 d-flex content">
                <div class="row align-self-center gl-4">

                    <div class="col-md-6 icon-box" data-aos="fade-up">
                      <i class="ri-line-chart-line"></i>
                      <div>
                        <h4>Time consuming</h4>
                        <p>Spending a lot of time manual gathering information from different systems</p>
                      </div>
                    </div>

                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                      <i class="ri-stack-line"></i>
                      <div>
                        <h4>Expensive</h4>
                        <p>Hiring unnecessary resources to sort out your financials</p>
                      </div>
                    </div>

                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                      <i class="ri-brush-4-line"></i>
                      <div>
                        <h4>Complex</h4>
                        <p>Not knowing how to put all the pieces together to see the full picture of your finances</p>
                      </div>
                    </div>

                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                      <i class="ri-magic-line"></i>
                      <div>
                        <h4>Black box</h4>
                        <p>Unsure of your business performance at any point in time</p>
                      </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div><!-- End Feature Icons -->

    {# <div class="row mt-5 pt-5">#}
    {#    <header class="section-header mt-5">#}
    {#        <h2>Our Solution</h2>#}
    {#        <p>Manage Cashflow & Collect Payments with TuMeNy:</p>#}
    {#    </header>#}

    {#    <div class="col-lg-6">#}
    {#        <img src="/frontend/img/add_invoice_tumeny.jpeg" class="img-fluid" alt="">#}
    {#    </div>#}

    {#    <div class="col-lg-6 mt-5 mt-lg-0 d-flex">#}
    {#        <div class="row align-self-center gy-4">#}

    {#            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">#}
    {#                <div class="feature-box d-flex align-items-center">#}
    {#                    <i class="bi bi-check"></i>#}
    {#                    <h3>Collect  payments with Tumeny</h3>#}
    {#                </div>#}
    {#            </div>#}

    {#            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">#}
    {#                <div class="feature-box d-flex align-items-center">#}
    {#                    <i class="bi bi-check"></i>#}
    {#                    <h3>Record any transactions quickly</h3>#}
    {#                </div>#}
    {#            </div>#}

    {#            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">#}
    {#                <div class="feature-box d-flex align-items-center">#}
    {#                    <i class="bi bi-check"></i>#}
    {#                    <h3>View your financial performance</h3>#}
    {#                </div>#}
    {#            </div>#}

    {#            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">#}
    {#                <div class="feature-box d-flex align-items-center">#}
    {#                    <i class="bi bi-check"></i>#}
    {#                    <h3>Manage your sales & expenses</h3>#}
    {#                </div>#}
    {#            </div>#}

    {#            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">#}
    {#                <div class="feature-box d-flex align-items-center">#}
    {#                    <i class="bi bi-check"></i>#}
    {#                    <h3>Manage your cashflow</h3>#}
    {#                </div>#}
    {#            </div>#}

    {#            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">#}
    {#                <div class="feature-box d-flex align-items-center">#}
    {#                    <i class="bi bi-check"></i>#}
    {#                    <h3>Create invoice and share with customer</h3>#}
    {#                </div>#}
    {#            </div>#}

    {#        </div>#}
    {#    </div>#}

    {#</div> #}
    <!-- / row -->

    <!-- Mobile & Desktop -->
    <div class="row mt-5 pt-5">

        <header class="section-header mt-5">
            {# <h2>Our Solution</h2> #}
            <p>Save time, manage your cashflow and collect payments with Tumeny</p>
        </header>

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">
            <header class="section-header mt-5">
                <h2>Mobile & Desktop</h2>
                <p class="text-xs">Set-up your account in minutes</p>
            </header>

                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="200">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Fast, simple & secure mobile sign-up</h3>
                    </div>
                </div>

                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Access your secure account in minutes</h3>
                    </div>
                </div>

                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="400">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Flexibility to use mobile on the go or your desktop</h3>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center">
                        <a href="https://tumeny.herokuapp.com/login" class="btn btn-success">
                            <span>Sign Up Today</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <img src="/frontend/img/login_tumeny.jpeg" class="img-fluid" alt="">
        </div>

    </div> <!-- /Mobile & Desktop -->

    <!-- Control -->
    <div class="row mt-5 pt-5">

        <div class="col-lg-6">
            <img src="/frontend/img/add_sale_tumeny.jpeg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">
            <header class="section-header mt-5">
                <h2>Control</h2>
                <p>Fastest way to record your transactions</p>
            </header>

                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="200">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Know what you earn and spend and be in control</h3>
                    </div>
                </div>

                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Make better day to day decisions quickly and with confidence</h3>
                    </div>
                </div>

                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="400">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Access all customer information in one place</h3>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center">
                        <a href="https://tumeny.herokuapp.com/login" class="btn btn-success">
                            <span>Sign Up Today</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- /Control -->

    <!-- Analytics -->
    <div class="row mt-5 pt-5">

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">
                <header class="section-header mt-5">
                    <h2>Analytics</h2>
                    <p>Data-driven insights on performance and areas of improvement</p>
                </header>

                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="200">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Understand the overall health of your business</h3>
                    </div>
                </div>

                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Analyze performance (daily, weekly, monthly) and determine areas to improve</h3>
                    </div>
                </div>

                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="400">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Understand performance at product and customer levels</h3>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center">
                        <a href="https://tumeny.herokuapp.com/login" class="btn btn-success">
                            <span>Sign Up Today</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <img src="/frontend/img/analytics_tumeny.jpeg" class="img-fluid" alt="">
        </div>

    </div> <!-- /Analytics -->

    <!-- Invoices -->
    <div class="row mt-5 pt-5">

        <div class="col-lg-6">
            <img src="/frontend/img/add_invoice_tumeny.jpeg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">
            <header class="section-header mt-5">
                <h2>Invoices</h2>
                <p>Create and send personalized invoices in seconds</p>
            </header>

                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="200">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Wow your customers with professional look and feel</h3>
                    </div>
                </div>

                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Track and manage invoices, effortlessly</h3>
                    </div>
                </div>

                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center">
                        <a href="https://tumeny.herokuapp.com/login" class="btn btn-success">
                            <span>Sign Up Today</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- /Invoices -->

    <!-- Feature Tabs -->
    {# <div class="row feture-tabs mt-5 pt-5" data-aos="fade-up">
        <div class="col-lg-6  mt-5">
            <h3>TumenyPay Scope</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
                <li>
                    <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Payment Solutions</a>
                </li>
                <li>
                    <a class="nav-link active" data-bs-toggle="pill" href="#tab3">Features</a>
                </li>
                <li>
                    <a class="nav-link" data-bs-toggle="pill" href="#tab2">Tumeny Benefits</a>
                </li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

                <div class="tab-pane fade show active" id="tab1">
                    <p>Tumeny Payments provides the following payment solutions:</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>Payments Collections</h4>
                    </div>
                    <p>Businesses can accept payments from customers regardless of the provider as well as transfer transer the balance to their bank account. They can communicate or run promotions with their customer and have access to analytics reports</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>Bulk Payments</h4>
                    </div>
                    <p>Businesses can easily transfer balance from their bank account to the payment platform to make payouts to multiple customers at the same time and on a regular basis, maintain contact lists and have access to analytics reports.</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>Recurring Collections</h4>
                    </div>
                    <p>Businesses that have subscriptions can create any payment plan to collect your recurring payments effortlessly. They can easily track the payments and view analytic reports.</p>
                </div>
                <!-- End Tab 1 Content -->

                <div class="tab-pane fade show" id="tab2">
                    <p>Tumeny Payments provides the following benefits:.</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>Accept payments</h4>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>Pay with mobile money</h4>
                    </div>
                  <p>Customer can pay with mobile money and do not need to open a separate account to make the payment.</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>Send payment links</h4>
                    </div>
                    <p>Merchants can send payment links to be paid faster via Whatsapp, Social Media or SMS</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>Collect recurring payments</h4>
                    </div>
                    <p>Merchants can collect recurring payments (e.g. subscriptions) with ease by sending reminders to their customers with the payment request.</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>View payments made in real time</h4>
                    </div>
                    <p>Tumeny portal enables merchants to view payments made in real time and view all payments received over time.</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>Financial Reporting</h4>
                    </div>
                    <p>Tumeny portal makes it easy for financia reporting at the end oof the month as well as for analyzing how the business is performing and faciliate data-based decision making</p>
                </div><!-- End Tab 2 Content -->

                <div class="tab-pane fade show active" id="tab3">
                    <p>Consequuntur inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>Record your transactions fast</h4>
                    </div>
                    <p>Know what you earn and spend and be in control. Make better day to day decisions quickly and with confidence. Access all customer information in one place</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>Analytics</h4>
                    </div>
                    <p>Data-driven insights on performance and areas of improvement. Understand the overall health of your business. Analyze performance (daily, weekly, monthly) and determine areas to improve. Understand performance at product and customer levels.</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-check2"></i>
                        <h4>Control</h4>
                    </div>
                    <p>Create and send personalized invoices in seconds. Wow your customers with professional look and feel. Track and manage invoices, effortlessly</p>
                </div><!-- End Tab 3 Content -->



            </div>
            


        </div>

        <div class="col-lg-6">
            <img src="/frontend/img/analytics_tumeny.jpeg" class="img-fluid" alt="">
        </div>
    </div> #}
    <!-- End Feature Tabs -->

</div>