<div class="container">
    <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center mt-5 pt-2">
            <h1 data-aos="fade-up">A single platform for managing your cashflow & collecting payments</h1>
            <h4 data-aos="fade-up" data-aos-delay="200" class="mt-3">
                <ul>
                    <li class="text-xs">Collect payments with ease</li>
                    <li class="text-xs">Record any transactions quickly</li>
                    <li class="text-xs">View your daily, weekly & monthly performance</li>
                    <li class="text-xs">Centralize, manage and automate your sales and expenses</li>
                </ul>
            </h4>
            <div data-aos="fade-up" data-aos-delay="400">
                <div class="text-center text-lg-start">
                    <a href="https://tumeny.herokuapp.com/register" class="mt-2 btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                        <span>Sign-up today</span>
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out">
            <img src="/frontend/img/hero_img.png" class="img-fluid" alt="">
        </div>
    </div>
</div>