
<div class="container" data-aos="fade-up">


    <header class="section-header mt-5">
        <h2>Our Solution</h2>
        <p>Manage Cashflow & Collect Payments with TuMeNy:</p>
    </header>

    <div class="row">

        {#<div class="col-lg-6">#}
        {#    <img src="/frontend/img/add_invoice_tumeny.jpeg" class="img-fluid" alt="">#}
        {#</div>#}

        <div class="col-lg-12 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Collect  payments with Tumeny</h3>
                    </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Record any transactions quickly</h3>
                    </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>View your financial performance</h3>
                    </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Manage your sales & expenses</h3>
                    </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Manage your cashflow</h3>
                    </div>
                </div>

                <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                    <div class="feature-box d-flex align-items-center">
                        <i class="bi bi-check"></i>
                        <h3>Create invoices and share them with customer</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>