<div class="container" data-aos="fade-up">
        <header class="section-header">
            <h2>Pricing</h2>
            <p>Check our Pricing</p>
            <div class="text-center">Get 1 month free where you pay for 6 months or 2 months free when you pay for 1 year upfront.</div>
        </header>
        {# <header class="section-header pb-3" >
            <h2>Pricing List</h2>
            <p>Tumeny Bookkeeping Pricing List</p>
        </header> #}
        {# <p class="text-xs text-center">Tumeny Bookkeeping is affordable at any stage of your business. Get 1 month free.</p> #}
        <div class="row license-compare py-4 my-4">
            <div class="col-xl-4 d-none d-xl-block features-list">
                <ul>
                    <li><b>Access & Users</b></li>
                    <li>
                        <span class="d-block feature-title">User Access</span>
                        {# <span class="d-block d-xl-none feature-title">User Access</span> #}
                    </li>
                    <li>
                        <span class="d-block feature-title">Number of Users</span>
                    </li>
                    <li><b>Record Keeping</b></li>
                    <li>
                        <span class="d-block feature-title">Record Sales and Expenses</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Send Receipts (per month)</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">View Paid & Unpaid Transactions</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Track what you're owed</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Send & Receive Payment Reminders</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Performance Dashboard</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Download Data / Reports</span>
                    </li>
                    <li>
                        <span class="d-block feature-title">Business Analytics & Insights</span>
                    </li>
                    {#<li>#}
                    {#    <span class="d-block feature-title">Manage Employee Expenses</span>#}
                    {#</li>#}
                    {#<li>#}
                    {#    <span class="d-block feature-title">Upload Transaction History</span>#}
                    {#</li>#}
                    {#<li>#}
                    {#    <span class="d-block feature-title">Manage Inventory</span>#}
                    {#</li>#}
                    {#<li><b>Customer & Business Support</b></li>#}
                    {#<li>#}
                    {#    <span class="d-block feature-title">Customer Service Rep</span>#}
                    {#</li>#}
                    {#<li>#}
                    {#    <span class="d-block feature-title">Business Coach</span>#}
                    {#</li>#}
                    {#<li>#}
                    {#    <span class="d-block feature-title">Dedicated Account Manager</span>#}
                    {#</li>#}
                </ul>
            </div>

            <div class="col-xl-8 licenses">
                <div class="row gx-1">
                    {# Free #}
                    <div class="col-lg-4 free">
                        <div class="title">
                            <h2 style="color: #07d5c0;">Free</h2>
                        </div>
                        <div class="price">
                            <h3> <sup>ZMW</sup> 0</h3> 
                            <span class="text-xs">Free</span>
                        </div>
                        <div class="features">
                            <ul>
                                <li class="mb-2"></li>
                                <li>Phone & Computer<span class="d-block d-xl-none feature-title">User Access</span></li>
                                <li>1<span class="d-block d-xl-none feature-title">Number of Users</span></li>
                                
                                {# Record Keeping #}
                                <li class="mb-2"></li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title">Record Sales and Expenses</span>
                                </li>
                                <li>10<span class="d-block d-xl-none feature-title">Send Receipts (per month)</span></li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title">View Paid & Unpaid Transactions</span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title">Track what you're owed or owe</span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title">Send & Receive Payment Reminders</span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title">Performance Dashboard</span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title">Download Data / Reports</span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title">Business Analytics & Insights</span>
                                </li>
                                {#<li>#}
                                {#    <i class="bi bi-x text-danger"></i>#}
                                {#    <span class="d-block d-xl-none feature-title">Manage Employee Expenses</span>#}
                                {#</li>#}
                                {#<li>#}
                                {#    <i class="bi bi-x text-danger"></i>#}
                                {#    <span class="d-block d-xl-none feature-title">Upload Transaction History</span>#}
                                {#</li>#}
                                {#<li>#}
                                {#    <i class="bi bi-x text-danger"></i>#}
                                {#    <span class="d-block d-xl-none feature-title">Manage Inventory</span>#}
                                {#</li>#}

                                {# Customer & Business #}
                                {#<li class="mb-2"></li>#}
                                {#<li>Chat<span class="d-block d-xl-none feature-title">Customer Service Rep</span></li>#}
                                {#<li>#}
                                {#    <i class="bi bi-x text-danger"></i>#}
                                {#    <span class="d-block d-xl-none feature-title"><s>Business Coach</s></span>#}
                                {#</li>#}
                                {#<li>#}
                                {#    <i class="bi bi-x text-danger"></i>#}
                                {#    <span class="d-block d-xl-none feature-title"><s>Dedicated Account Manager</s></span>#}
                                {#</li>#}
                            </ul>
                                
                        </div>
                                
                        {# <div class="action"> 
                            <i class="bi bi-download"></i>  Download
                        </div> #}
                        <div class="d-grid gap-2 mt-3"> 
                            <a href="https://tumeny.herokuapp.com/login" class="btn btn-success btn-block buy">
                                {# <i class="bi bi-download"></i> #}
                                <span>Sign Up for Free</span>
                            </a>
                        </div>
                    </div>

                    {# Starter #}
                    <div class="col-lg-4 mt-5 mt-lg-0 pro">
                        <div class="title">
                            <h2 style="color: #ff901c;">Starter</h2>
                        </div>
                        <div class="price">
                            <div class="d-flex justify-content-center align-items-center">
                                <h3> <sup>ZMW</sup> 35</h3>
                            </div> 
                            <span class="text-xs">Monthly</span>
                        </div>
                        <div class="features">
                            <ul>
                                <li class="mb-2"></li>
                                <li>Phone & Computer<span class="d-block d-xl-none feature-title">User Access</span></li>
                                <li>1<span class="d-block d-xl-none feature-title">Number of Users</span></li>
                                
                                {# Record Keeping #}
                                <li class="mb-2"></li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title">Record Sales and Expenses</span>
                                </li>
                                <li>25<span class="d-block d-xl-none feature-title">Send Receipts (per month)</span></li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title">View Paid & Unpaid Transactions</span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title">Track what you're owed or owe</span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title">Send & Receive Payment Reminders</span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title">Performance Dashboard</span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title">Download Data / Reports</span>
                                </li>
                                <li>
                                    <i class="bi bi-x text-danger"></i>
                                    <span class="d-block d-xl-none feature-title">Business Analytics & Insights</span>
                                </li>
                                {#<li>#}
                                {#    <i class="bi bi-x text-danger"></i>#}
                                {#    <span class="d-block d-xl-none feature-title">Manage Employee Expenses</span>#}
                                {#</li>#}
                                {#<li>#}
                                {#    <i class="bi bi-x text-danger"></i>#}
                                {#    <span class="d-block d-xl-none feature-title">Upload Transaction History</span>#}
                                {#</li>#}
                                {#<li>#}
                                {#    <i class="bi bi-x text-danger"></i>#}
                                {#    <span class="d-block d-xl-none feature-title">Manage Inventory</span>#}
                                {#</li>#}

                                {# Customer & Business #}
                                {#<li class="mb-2"></li>#}
                                {#<li>Chat or Call<span class="d-block d-xl-none feature-title">Customer Service Rep</span></li>#}
                                {#<li>Chat<span class="d-block d-xl-none feature-title">Business Coach</span></li>#}
                                {#<li>#}
                                {#    <i class="bi bi-x text-danger"></i>#}
                                {#    <span class="d-block d-xl-none feature-title"><s>Dedicated Account Manager</s></span>#}
                                {#</li>#}
                            </ul>
                        </div>
                                
                        {# <div class="action"> 
                            <i class="bi bi-download"></i>  Download
                        </div> #}
                        <div class="d-grid gap-2 mt-3"> 
                            <a href="#contact" class="btn btn-success btn-block buy">
                                {# <i class="bi bi-download"></i> #}
                                <span>Contact Us to Buy</span>
                            </a>
                        </div>
                    </div>

                    {# Growth #}
                    <div class="col-lg-4 mt-5 mt-lg-0 pro">
                        <div class="title">
                            <h2 style="color: #65c600;">Growth</h2>
                        </div>
                        <div class="price">
                            <div class="d-flex justify-content-center align-items-center">
                                <h3> <sup>ZMW</sup> 95</h3>
                            </div> 
                            <span class="text-xs">Monthly</span>
                        </div>
                        <div class="features">
                            <ul>
                                <li class="mb-2"></li>
                                <li>Phone & Computer<span class="d-block d-xl-none feature-title">User Access</span></li>
                                <li>3<span class="d-block d-xl-none feature-title">Number of Users</span></li>
                                
                                {# Record Keeping #}
                                <li class="mb-2"></li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title">Record Sales and Expenses</span>
                                </li>
                                <li>Unlimited<span class="d-block d-xl-none feature-title">Send Receipts (per month)</span></li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title">View Paid & Unpaid Transactions</span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title">Track what you're owed or owe</span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title">Send & Receive Payment Reminders</span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title">Performance Dashboard</span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title">Download Data / Reports</span>
                                </li>
                                <li>
                                    <i class="bi bi-check text-success"></i>
                                    <span class="d-block d-xl-none feature-title">Business Analytics & Insights</span>
                                </li>
                                {#<li>#}
                                {#    <i class="bi bi-check text-success"></i>#}
                                {#    <span class="d-block d-xl-none feature-title">Manage Employee Expenses</span>#}
                                {#</li>#}
                                {#<li>#}
                                {#    <i class="bi bi-x text-danger"></i>#}
                                {#    <span class="d-block d-xl-none feature-title">Upload Transaction History</span>#}
                                {#</li>#}
                                {#<li>#}
                                {#    <i class="bi bi-x text-danger"></i>#}
                                {#    <span class="d-block d-xl-none feature-title">Manage Inventory</span>#}
                                {#</li>#}

                                {# Customer & Business #}
                                {#<li class="mb-2"></li>#}
                                {#<li>Chat or Call<span class="d-block d-xl-none feature-title">Customer Service Rep</span></li>#}
                                {#<li>Chat or Call<span class="d-block d-xl-none feature-title">Business Coach</span></li>#}
                                {#<li>#}
                                {#    <i class="bi bi-x text-danger"></i>#}
                                {#    <span class="d-block d-xl-none feature-title"><s>Dedicated Account Manager</s></span>#}
                                {#</li>#}
                            </ul>
                        </div>
                                
                        {# <div class="action"> 
                            <i class="bi bi-download"></i>  Download
                        </div> #}
                        <div class="d-grid gap-2 mt-3"> 
                            <a href="#contact" class="btn btn-success buy">
                                {# <i class="bi bi-download"></i> #}
                                <span>Contact Us to Buy</span>
                            </a>
                        </div>
                    </div>

                    {# Business #}
                    {#<div class="col-lg-3 mt-5 mt-lg-0 membership">#}
                    {#    <div class="title">#}
                    {#        <h2 style="color: #2db6fa;">Business</h2>#}
                    {#    </div>#}
                            
                    {#    <div class="price">#}
                    {#        <div class="d-flex justify-content-center align-items-center">#}
                    {#            <h3> <sup>ZMW</sup> 185</h3>#}
                    {#        </div> #}
                    {#        <span class="text-xs">Monthly</span>#}
                    {#    </div>#}
                        
                    {#    <div class="features">#}
                    {#        <ul>#}
                    {#            <li class="mb-2"></li>#}
                    {#            <li>Phone & Computer<span class="d-block d-xl-none feature-title">User Access</span></li>#}
                    {#            <li>10<span class="d-block d-xl-none feature-title">Number of Users</span></li>#}
                                
                                {# Record Keeping #}
                    {#            <li class="mb-2"></li>#}
                    {#            <li>#}
                    {#                <i class="bi bi-check text-success"></i>#}
                    {#                <span class="d-block d-xl-none feature-title">Record Sales and Expenses</span>#}
                    {#            </li>#}
                    {#            <li>Unlimited<span class="d-block d-xl-none feature-title">Send Receipts (per month)</span></li>#}
                    {#            <li>#}
                    {#                <i class="bi bi-x text-danger"></i>#}
                    {#                <span class="d-block d-xl-none feature-title">View Paid & Unpaid Transactions</span>#}
                    {#            </li>#}
                    {#            <li>#}
                    {#                <i class="bi bi-check text-success"></i>#}
                    {#                <span class="d-block d-xl-none feature-title">Track what you're owed or owe</span>#}
                    {#            </li>#}
                    {#            <li>#}
                    {#                <i class="bi bi-check text-success"></i>#}
                    {#                <span class="d-block d-xl-none feature-title">Send & Receive Payment Reminders</span>#}
                    {#            </li>#}
                    {#            <li>#}
                    {#                <i class="bi bi-check text-success"></i>#}
                    {#                <span class="d-block d-xl-none feature-title">Performance Dashboard</span>#}
                    {#            </li>#}
                    {#            <li>#}
                    {#                <i class="bi bi-check text-success"></i>#}
                    {#                <span class="d-block d-xl-none feature-title">Download Data / Reports</span>#}
                    {#            </li>#}
                    {#            <li>#}
                    {#                <i class="bi bi-check text-success"></i>#}
                    {#                <span class="d-block d-xl-none feature-title">Business Analytics & Insights</span>#}
                    {#            </li>#}
                    {#            <li>#}
                    {#                <i class="bi bi-check text-success"></i>#}
                    {#                <span class="d-block d-xl-none feature-title">Manage Employee Expenses</span>#}
                    {#            </li>#}
                    {#            <li>#}
                    {#                <i class="bi bi-check text-success"></i>#}
                    {#                <span class="d-block d-xl-none feature-title">Upload Transaction History</span>#}
                    {#            </li>#}
                    {#            <li>#}
                    {#                <i class="bi bi-check text-success"></i>#}
                    {#                <span class="d-block d-xl-none feature-title">Manage Inventory</span>#}
                    {#            </li>#}

                                {# Customer & Business #}
                    {#            <li class="mb-2"></li>#}
                    {#            <li>Chat or Call<span class="d-block d-xl-none feature-title">Customer Service Rep</span></li>#}
                    {#            <li>Chat or Call<span class="d-block d-xl-none feature-title">Business Coach</span></li>#}
                    {#            <li>#}
                    {#                <i class="bi bi-check text-success"></i>#}
                    {#                <span class="d-block d-xl-none feature-title">Dedicated Account Manager</span>#}
                    {#            </li>#}
                    {#            </ul>#}
                                
                    {#        </div>#}
                    {#        <div class="d-grid gap-2 mt-3"> #}
                    {#            <a href="" class="btn btn-success buy">#}
                                    {# <i class="bi bi-download"></i> #}
                    {#                <span>Buy Now</span>#}
                    {#            </a>#}
                    {#        </div>#}
                    {#    </div>#}
                    </div>

                </div>
            </div>
        </div>
</div>



{# <div class="container" data-aos="fade-up">
    <header class="section-header">
        <h2>Pricing</h2>
        <p>Check our Pricing</p>
        <div class="text-center">Get 1 month free where you pay for 6 months or 2 months free when you pay for 1 year upfront.</div>
    </header>

    <div class="row gy-4" data-aos="fade-left">

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
                <h3 style="color: #07d5c0;">Free Plan</h3>
                <div class="price mb-3"><sup>ZMW</sup>0<span> / mo</span></div>
                <div class="price mb-4"><sup>ZMW</sup>0<span> / yr</span></div>
                <img src="/frontend/img/pricing-free.png" class="img-fluid" alt="">
                <ul>
                    <li class="mb-2 small">Record Sales & Expenses</li>
                    <li class="mb-2 small">Send 10 Receipts (per month)</li>
                    <li class="mb-2 small">View Paid & Unpaid Transactions</li>
                    <li class="mb-2 na small">Download Data & Reports</li>
                    <li class="mb-2 na small">Business Analytics & Insights</li>
                    <li class="mb-2 na small">Manage Employee Expenses</li>
                    <li class="mb-2 na small">Upload Transaction History</li>
                    <li class="mb-2 na small">Manage Inventory</li>
                </ul>
                <a href="#" class="btn-buy">Chat</a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
                <h3 style="color: #ff901c;">Starter Plan</h3>
                <div class="price mb-3"><sup>ZMW</sup>20<span> / mo</span></div>
                <div class="price mb-4"><sup>ZMW</sup>216<span> / yr</span></div>
                <img src="assets/img/pricing-starter.png" class="img-fluid" alt="">
                <ul>
                    <li class="mb-2 small">Record Sales & Expenses</li>
                    <li class="mb-2 small">Send 10 Receipts (per month)</li>
                    <li class="mb-2 small">View Paid & Unpaid Transactions</li>
                    <li class="mb-2 small">Download Data & Reports</li>
                    <li class="mb-2 small">Business Analytics & Insights</li>
                    <li class="mb-2 na small">Manage Employee Expenses</li>
                    <li class="mb-2 na small">Upload Transaction History</li>
                    <li class="mb-2 na small">Manage Inventory</li>
                </ul>
                <a href="#" class="btn-buy">Chat or Call</a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
                <span class="featured">Featured</span>
                <h3 style="color: #65c600;">Growth</h3>
                <div class="price mb-3"><sup>ZMW</sup>80<span> / mo</span></div>
                <div class="price mb-4"><sup>ZMW</sup>864<span> / yr</span></div>
                <img src="assets/img/pricing-business.png" class="img-fluid" alt="">
                <ul>
                    <li  class="mb-2 small">Record Sales & Expenses</li>
                    <li  class="mb-2 small">Send 10 Receipts (per month)</li>
                    <li  class="mb-2 small">View Paid & Unpaid Transactions</li>
                    <li  class="mb-2 small">Download Data & Reports</li>
                    <li  class="mb-2 small">Business Analytics & Insights</li>
                    <li  class="mb-2 small">Manage Employee Expenses</li>
                    <li class="mb-2 na small">Upload Transaction History</li>
                    <li class="mb-2 na small">Manage Inventory</li>
                </ul>
                <a href="#" class="btn-buy">Chat or Call</a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
                <h3 style="color: #ff0071;">Business Plan</h3>
                <div class="price mb-3"><sup>ZMW</sup>160<span> / mo</span></div>
                <div class="price mb-4"><sup>ZMW</sup>1,728<span> / yr</span></div>
                <img src="assets/img/pricing-ultimate.png" class="img-fluid" alt="">
                <ul>
                    <li class="mb-2 small">Record Sales & Expenses</li>
                    <hr class="dropdown-divider"> 
                    <li class="mb-2 small">Send 10 Receipts (per month)</li>
                    <li class="mb-2 small">View Paid & Unpaid Transactions</li>
                    <li class="mb-2 small">Download Data & Reports</li>
                    <li class="mb-2 small">Business Analytics & Insights</li>
                    <li class="mb-2 small">Manage Employee Expenses</li>
                    <li class="mb-2 small">Upload Transaction History</li>
                    <li class="mb-2 small">Manage Inventory</li>
                </ul>
                <a href="#" class="btn-buy">Chat or Call</a>
            </div>
        </div>

    </div>
</div>  #}