
<div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>Services</h2>
      <p>Our Services Are As Follows</p>
    </header>

    <div class="row gy-4">

        {# <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
                <i class="ri-discuss-line icon"></i>
                <h3>Payments Collections</h3>
                <p>Businesses can accept payments from customers regardless of the provider as well as transfer transer the balance to their bank account.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
        </div> #}

        {# <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
                <i class="ri-discuss-line icon"></i>
                <h3>Bulk Payments</h3>
                <p>Businesses can easily transfer balance from their bank account to the payment platform to make payouts to multiple customers at the same time and on a regular basis.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
        </div> #}

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
                <i class="ri-discuss-line icon"></i>
                <h3>Record any transactions quickly </h3>
                <p>Access our portal and record any transactions relating your business quickly.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-box red">
                <i class="ri-discuss-line icon"></i>
                <h3>Manage your cashflow with ease</h3>
                <p>View your daily, weekly & monthly performance.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-box purple">
                <i class="ri-discuss-line icon"></i>
                <h3>Manage your sales & expenses.</h3>
                <p>Acccess our portal and manage your sales and expenses.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-box pink">
                <i class="ri-discuss-line icon"></i>
                <h3>Manage your customers & invoices</h3>
                <p>Access our portal and manage your customers and thier invoices.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>

    </div>

</div>