

<div class="container" data-aos="fade-up">

  <header class="section-header">
    <h2>Testimonials</h2>
    <p>What they are saying about us</p>
  </header>

  <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="testimonial-item">
          <div class="stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          </div>
          <p>
            I now track my sales and expenses daily without cracking my head with manual calculations. I love all the features that Tumeny offers. It's an amazing platform!
          </p>
          <div class="profile mt-auto">
            <img src="/frontend/img/testimonials/taizya.png" class="testimonial-img" alt="">
            <h3>Taizya N.</h3>
            <h4>Founder, Creativity Hub, Ndola</h4>
          </div>
        </div>
      </div><!-- End testimonial item -->

      <div class="swiper-slide">
        <div class="testimonial-item">
          <div class="stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          </div>
          <p>
            Recording transactions is easy! Tumeny does all the calculations for me.
          </p>
          <div class="profile mt-auto">
            <img src="/frontend/img/testimonials/hornelius.jpeg" class="testimonial-img" alt="">
            <h3>Hornelius L.</h3>
            <h4>Founder, Deluxentials, Lusaka</h4>
          </div>
        </div>
      </div><!-- End testimonial item -->

      <div class="swiper-slide">
        <div class="testimonial-item">
          <div class="stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          </div>
          <p>
            Tumeny is great and very helpful. Everything is calculated nicely without mistakes.
          </p>
          <div class="profile mt-auto">
            {# <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""> #}
            <h3>Dean D.</h3>
            <h4>Founder, DK Express, Lusaka</h4>
          </div>
        </div>
      </div><!-- End testimonial item -->

      {# <div class="swiper-slide">
        <div class="testimonial-item">
          <div class="stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          </div>
          <p>
            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
          </p>
          <div class="profile mt-auto">
            <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
          </div>
        </div>
      </div> #}
      <!-- End testimonial item -->

      {# <div class="swiper-slide">
        <div class="testimonial-item">
          <div class="stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          </div>
          <p>
            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
          </p>
          <div class="profile mt-auto">
            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
          </div>
        </div>
      </div> #}
      <!-- End testimonial item -->

    </div>
    <div class="swiper-pagination"></div>
  </div>

</div>