
<div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>Sign Up Today</h2>
      <p>Start using Tumeny Bookkeeping today!</p>
    </header>

    <div class="row gy-4">

        {# <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
                <i class="ri-discuss-line icon"></i>
                <h3>Payments Collections</h3>
                <p>Businesses can accept payments from customers regardless of the provider as well as transfer transer the balance to their bank account.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
        </div> #}

        {# <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
                <i class="ri-discuss-line icon"></i>
                <h3>Bulk Payments</h3>
                <p>Businesses can easily transfer balance from their bank account to the payment platform to make payouts to multiple customers at the same time and on a regular basis.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
        </div> #}

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
                {#<i class="ri-discuss-line icon"></i>#}
                <h3><b>Start using Tumeny today without any fees</b></h3>
                <p class="text-xs">The basic functions of Tumeny Bookkeeping are available for free at no charge.</p>
                <p class="text-xs">We understand that smaller businesses cannot afford to pay for the digital bookkeeping.</p>
                <p class="text-xs">However, as your business grows and you need more functionality, we offer a charge depending on the type of functionality your business needs.</p>
                <a href="https://tumeny.herokuapp.com/login" class="read-more"><span>Sign-up today</span> <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-box red">
                {#<i class="ri-discuss-line icon"></i>#}
                <h3><b>Your financial performance at your figertips</b></h3>
                <p class="text-xs">Recording your sales and expenses in a notebook or using Excel and paper invoices can limit how quickly your business grows.</p>
                <p class="text-xs">Digital record keeping ensures that you have information about your business at your fingertips to make decisions.</p>
                <p class="text-xs">As long as you have your mobile phone, you can record your sales and expenses as well as send out invoices.</p>
                <a href="https://tumeny.herokuapp.com/login" class="read-more"><span>Sign-up today</span> <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-box purple">
                {#<i class="ri-discuss-line icon"></i>#}
                <h3><b>You can learn to use Tumeny in minutes</b></h3>
                <p class="text-xs">We have created short videos that explain how each of our features work.</p>
                <p class="text-xs">You can find this information on our YouTube channel.</p>
                <p class="text-xs">You can also join our WhatsApp group or Facebook group where you can ask any questions you have.</p>
                <a href="https://tumeny.herokuapp.com/login" class="read-more mb-0 pb-0"><span>Sign-up today</span> <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-box pink">
                {#<i class="ri-discuss-line icon"></i>#}
                <h3><b>Save time with digital record keeping</b></h3>
                <p class="text-xs">We know you are very busy and that is why we created Tumeny Bookkeeping to help you save time.</p>
                <p class="text-xs">Instead of leaving all your record entry to the end of the month, you can record your sales, expenses and send invoices as transactions happen.</p>
                <p class="text-xs">As long as you have your phone with you, you can stay up to date on your financials.</p>
                <a href="https://tumeny.herokuapp.com/login" class="read-more"><span>Sign-up today</span> <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>

    </div>

</div>