<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Tumeny Payments Limited</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by <a href="https://kanaitech.com/">kanaitech.com</a>
    </div>
</footer>
<!-- End Footer -->