<!DOCTYPE html>
<html lang="en">

<head>
  {{ include('frontend/_head.twig') }}
  {% block styles %}{% endblock %}
</head>

<body>
  <!-- ======= Navbar ======= -->
  <header id="header" class="header fixed-top bg-white p-1">
    {% include 'frontend/_navbar.twig' %}
  </header>
  <!-- End Navbar -->

  {% block hero %}{% endblock %}
  <main id="main">
  {% block body %}{% endblock %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    {{ include('frontend/_footer.twig') }}
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {{ include('frontend/_scripts.twig') }}

</body>

</html>